body {
  background-image: url("/assets/css/projectbackground.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inner-container{
  margin-left: 900px;
}

.box-container{
  margin-left: 900px;
}

#musicbtn{
  margin-top: 300px;
}

button{

  padding: 20px;
  width: 200px;
  margin-top: 10px;

}