body {
  background-image: url("/assets/css/projectbackground.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: black;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inner-container{
  margin-left: 1050px;
}

.box-container{
  margin-left: 1050px;
}

#musicbtn{
  margin-top: 300px;
}

.playSound{

  padding: 20px;
  width: 200px;
  margin-top: 10px;
  background-color: purple;
  transition: background-color .5s;
  color: goldenrod;
  

}

button{
  background-color: purple;
  color: goldenrod;
  width: 300px;
  height: 50px;
  margin-top: 15px;

}

.input-group{
  color: goldenrod;
}

.header{
  color: goldenrod;
}

.login-btn{
  color: goldenrod;
  
}
.login-input{
  background-color: white;
 
}

.form-check{
  padding: 25px;
}

#save{
  margin-left: 400px;
  background-color:goldenrod;
  color: purple;
}

